*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    font-size: 22px;
}
body{
    background-color: #353b48;
    padding:1rem;
}
.control{
    max-width: 1200px;
    height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    padding:10px 0px;
}
.box{
    height:8rem;
    border:5px solid white;
    overflow: hidden;
}
.box img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 3px;
    transition: 0.3s;
    transform-origin: top;
    
}
.box img:hover{
    transform: scale(1.5);
}
.container{
    max-width: 1200px;
    margin:0 auto;
    display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap:20px;
   
}
.btn-group button{
    width:100px;
    height:30px;
    border:none;
    background-color: #00b894;
    color:whitesmoke;
    border:2px solid #00b894;
    cursor:pointer;
    transition: 0.3s;
    border-radius: 3px;


}
.btn-group button:hover{
    background-color: #353b48;
}
